In [1]:
import sqlite3
import pandas as pd

In [2]:
conn = sqlite3.connect("winequality_red.db")
cursor = conn.cursor()

In [7]:
df = pd.read_csv("winequality_red.csv",  encoding='latin1')

In [9]:
df.head()

,Wine brand name,fixed acidity,volatile acidity,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,sulphates,alcohol,quality,quality.1
0,Chateau Margaux,7.4,0.70,1.9,0.076,11,34,0.9978,0.56,9.4,5,5
1,Penfolds,7.8,0.88,2.6,0.098,25,67,0.9968,0.68,9.8,5,5
2,Moët & Chandon,7.8,0.76,2.3,0.092,15,54,0.9970,0.65,9.8,5,5
3,Opus One,11.2,0.28,1.9,0.075,17,60,0.9980,0.58,9.8,6,6
4,Cloudy Bay,7.4,0.70,1.9,0.076,11,34,0.9978,0.56,9.4,5,5

In [11]:
df.to_sql("winequality_red_1", conn, index = False)

20

In [ ]:
conn.commit()
conn.close()